<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{if .IsHome }}
    <title>{{ .Title }}</title>
    {{else}}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ end }}

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/codestyle.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <div id=title>
      <p class="primary">
        <a href="/">de1ux</a>
      </p>

      <p class="secondary-title">
        Nathan Evans is learning how to blog in <del>2018</del> 2019
      </p>
    </div>
