{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<ul id="list">
  {{ range (where .Data.Pages "Section" "!=" "") }}
  <li>
    <span class="date secondary">{{ .Date.Format "01/02/2006" }}</span>
    <a href="{{ .URL }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
